Crosshair {
	position: absolute;
	background-color: rgba( black, 0.75 );
	right: 50%;
	bottom: 25%;
	color: white;
	height: 15px;
	padding: 0 5px;
	align-items: center;
	border-radius: 50%;
}

Logo {
	position: absolute;
	background-image: url(ui/img/slasherlogo.png)
	background-repeat: no-repeat;
	width: 617px;
	height: 112px;
	left: 5%;
	top: 10%;
	background-size: cover;	
	pointer-events: all;
	opacity: 0;
	

	.spawn-slasher {
		position: absolute;
		top: 350px;
		left: 0%;
		font-size: 60px;
		font-weight: bold;
		color: white;
		height: 80px;
		padding: 0 20px;
		align-items: center;
		transition: all 0.2s ease-in-out;
		opacity: 0.5;

		&:hover {
			opacity: 1;
			color: red;
		}
	}
	.spawn-survivor {
		position: absolute;
		top: 230px;
		left: 0%;
		font-size: 60px;
		font-weight: bold;
		color: white;
		height: 80px;
		padding: 0 20px;
		align-items: center;
		transition: all 0.2s ease-in-out;
		opacity: 0.5;

		&:hover {
			opacity: 1;
			color: red;
		}
	}

	.slashericon1 {
		position: absolute;
		background-image: url(ui/img/slasher_ico/bababooey.png)
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		left: 120%;
		top: 10%;
		background-size: cover;
   	 	overflow: hidden;	
		opacity: 0.85;
		transition: all 0.2s ease-in-out;

		&:hover{
			opacity: 0.9;
		}

		&.selected{
			width: 190px;
			height: 190px;
			opacity: 1;
		}
	}

	.slashericon2 {
		position: absolute;
		background-image: url(ui/img/slasher_ico/amogus.png)
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		left: 150%;
		top: 10%;
		background-size: cover;
		overflow: hidden;	
		opacity: 0.85;
		transition: all 0.2s ease-in-out;
	
		&:hover{
			opacity: 0.9;
		}

		&.selected{
			width: 190px;
			height: 190px;
			opacity: 1;
		}
	}

	.slashericon3 {
		position: absolute;
		background-image: url(ui/img/slasher_ico/trollge.png)
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		left: 180%;
		top: 10%;
		background-size: cover;
		overflow: hidden;	
		opacity: 0.85;
		transition: all 0.2s ease-in-out;
	
		&:hover{
			opacity: 0.9;
		}

		&.selected{
			width: 190px;
			height: 190px;
			opacity: 1;
		}
	}

	.slasher-name {
		position: absolute;
		top: 500%;
		left: 110%;
		font-size: 60px;
		font-weight: bold;
		color: white;
		height: 80px;
		padding: 0 20px;
		align-items: center;
		opacity: 1;
	}

	.slasher-description {
		position: absolute;
		top: 560%;
		left: 110%;
		font-size: 30px;
		font-weight: normal;
		color: white;
		height: 80px;
		padding: 0 20px;
		align-items: top;
		opacity: 1;
	}

	&.active {
		opacity: 1.0;
	}
}

PickedUpText {
	position: absolute;
	left: 10%;
	bottom: 150px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	height: 80px;
	padding: 0 20px;
	align-items: center;
	text-shadow: 8px 8px 8px black;
	opacity: 0;
	transition: all 1s ease-in-out;

	.item-name {
		position: absolute;
		top: 50px;
		left: 0%;
		font-size: 60px;
		font-weight: bold;
		color: white;
		height: 80px;
		padding: 0 20px;
		align-items: center;
		transition: all 1s ease-in-out;
	}

	.toolt {
		position: absolute;
		top: 110px;
		left: 0%;
		font-size: 30px;
		font-weight: normal;
		color: white;
		height: 80px;
		padding: 0 20px;
		align-items: center;
		transition: all 1s ease-in-out;
	}

	.iconfuel {
		position: absolute;
		background-image: url(ui/img/fuelcan.png)
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		right: 125%;
		top: 10%;
		background-size: cover;
   	 	overflow: hidden;	
		opacity: 0;

		&.active {
			opacity: 1.0;
		}
	}
	.iconbattery {
		position: absolute;
		background-image: url(ui/img/carbattery.png)
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		right: 125%;
		top: 10%;
		background-size: cover;
   	 	overflow: hidden;	
		opacity: 0;

		&.active {
			opacity: 1.0;
		}
	}

	&.active {
		opacity: 1.0;
	}
}
